@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&display=swap");

textarea,
input[type="text"],
input[type="url"],
input[type="number"],
input[type="datetime-local"],
input[type="date"],
input[type="button"],
button,
select {
  @apply border-gray-300 focus:ring-2 focus:ring-opacity-50 focus:ring-indigo-500 focus:border-indigo-500 focus:outline-none rounded-md;
}
.react-select input[type="text"] {
  @apply focus:outline-none focus:ring-0;
}

input[type="radio"] {
  @apply focus:ring-2 focus:ring-opacity-50 focus:ring-indigo-500 focus:border-indigo-500 focus:outline-none rounded-full;
}

input[type="checkbox"] {
  @apply border-gray-300 focus:ring-2 focus:ring-opacity-50 focus:ring-indigo-500 focus:border-indigo-500 focus:outline-none rounded-sm;
}

.btn-cta {
  @apply bg-black text-white hover:bg-gray-500 transition-colors;
}
.btn-cta-disabled {
  @apply bg-gray-300 text-white;
}
.btn-secondary {
  @apply bg-gray-200 hover:bg-gray-100 transition-colors text-gray-800;
}
.btn-secondary-disabled {
  @apply bg-gray-100 text-gray-300;
}
.popup-form {
  display: flex;
  flex-flow: column;
  gap: 8px;
}
input.argument {
  appearance: none;
  display: block;
  background-color: #fff;
  width: 100%;
  border-color: rgb(209 213 219);
  border-width: 1px;
  border-radius: 0px;
  padding-top: 0.5rem;
  padding-right: 0.75rem;
  padding-bottom: 0.5rem;
  padding-left: 0.75rem;
  font-size: 1rem;
  line-height: 1.5rem;
  --tw-shadow: 0 0 #0000;
  border-radius: 0.375rem;
}
.custom-panel {
  background-color: transparent;
  box-shadow: none;
}
